/*Na tym etapie warto też z góry przygotować sobie trochę zmiennych. 
Cheatsheet pokazuje nam wszystkie kolory i rodzaje czcionek, 
które mogą się przytrafić. Możemy więc przypisać je do zmiennych SCSS.*/


/*Colors*/
$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;
$color-lightDark: #464646;

/*Fonts*/
$font-main: 'Source Sans 3', sans-serif;